* {
    font-family: Work Sans;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.section-description {
    color: #534C64;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}

/* Header Desingn */

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav,
.logo,
.menu-right,
.follow-us,
.menu-right ul,
.btn {
    display: flex;
    gap: 32px;
}

.logo,
.follow-us {
    align-items: center;
}

.nav {
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 40px;
}

.logo-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.menu-right ul {
    list-style: none;
    align-items: center;
}

.menu-right li>a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #3C354F;
}

.G {
    color: #FF42A5;
}

.btn i:hover {
    color: red;
}

.btn i {
    width: 2rem;
    cursor: pointer;
}

.btn {
    gap: 1rem;
}

.follow-us {
    padding: 4px 16px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.follow-us h3 {
    font-size: 1rem;
    font-weight: 600;
}

/* Banner Designs */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img {
    width: 100%;
}

.banner-content {
    background-image: url(../images/Group-14.png);
    width: 901px;
    /* height: 700px; */
    padding: 140px 250px;
    background-repeat: no-repeat;
}

.title-section {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin: 0px;
}

.goat-design {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    margin-bottom: 24px;
}

.btn-banner {
    display: flex;
    gap: 24px;
    margin-top: 60px;
}

.button {
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
}

.sign-in {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.go-rogue {
    background: #4EC5F7;
}

/* Video Section */

.video {
    margin: 120px auto;
}

.video-text-content {
    text-align: center;
    margin-bottom: 48px;
}

.funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-name {
    width: 342px;
}

.video-thumbnail {
    display: flex;
    justify-content: space-between;
}

.video-name {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}

/* We are Gamer Section */

.we-are-gamer {
    display: flex;
    align-items: center;
    gap: 52px;
    margin: 100px auto;
    text-align: right;
}

.wag-image {
    width: 100%;
}

.wag-text-content h3 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-purpose {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 36px;
}

.unlease-the-gamer {
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 8px;
    width: 100%;
}

/* Play Instant section */

.play-instant {
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
}

.pi-text-content {
    text-align: right;
    width: 350px;
}

.over-image {
    position: relative;
    bottom: 200px;
    right: 100px;
}

/* Tags Section */

.tag,
.game-tag {
    display: flex;
}

.tag h2 {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.game-tag {
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    gap: 30px;
    padding: 200px 0px;
    text-align: center;
    justify-content: center;
}

.tag:hover {
    border: 4px solid #FF42A5;
}

.tag:hover h2 {
    color: #FF42A5;
}



.tag {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* footer styles */

footer .logo {
    color: #FFF;
}

footer {
    background: #0B0223;
    text-align: center;
    padding: 120px;
}

.link-div {
    display: flex;
    gap: 60px;
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons i {
    width: 60px;
    cursor: pointer;
    color: #FFF;
}

.extra-labels,
.copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.extra-labels {
    display: flex;
    gap: 60px;
}

footer .logo,
.extra-labels,
.copyright,
.social-icons,
.link-div {
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (max-width:576px) {

    .nav,
    .menu-right,
    .menu-right ul {
        flex-direction: column;
    }

    header {
        justify-content: center;
        padding: 150px auto;
        margin-bottom: 80px;
        box-shadow: none;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }

    .banner img {
        width: 80%;
    }

    .banner-content {
        padding: 30px 60px;
        width: auto;
    }

    .we-are-gamer {
        flex-direction: column;
        text-align: center;
    }

    .wag-image-container {
        width: 80%;
    }

    .video-thumbnail {
        flex-direction: column;
        align-items: center;
    }

    .play-instant {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .man-with-gun-image {
        width: 80%;
    }

    .pi-image {
        width: 80%;
    }

    .game-tag {
        margin: 0px;
    }

    .link-div,
    .social-icons,
    .extra-labels {
        flex-wrap: wrap;
    }

    .thumbnail-div {
        justify-content: center;
    }

    .banner-img-class {
        width: 100%;
    }

    .over-image {
        position: relative;
    }

    .over-image img {
        width: 50%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner img {
        width: 80%;
    }
    .banner-content {
        align-items: center;
    }

    .we-are-gamer {
        flex-direction: column;
        text-align: center;
        width: 80%;
    }

    .video {
        align-items: center;
    }

    .video-thumbnail {
        flex-wrap: wrap;
        width: 80%;
        margin-left: 80px;
    }
    .play-instant {
        flex-direction: column;
        gap: 60px;
    }
}